.faculty-card{
    background-image: url("../../../assets/images/backgroundimg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.validation-msg {
    color: red;
    font-size: 15px;
}