.fa-override {
    border-style: none;
    background-color: transparent;
    padding: 0;
  }

  .table-container {
    background-image: url("../../../assets/images/FacultyRegimage1.png");
    background-size: cover; /* Adjust the size of the background image */
    background-position: center; /* Center the background image */
    padding: 20px; /* Add padding to the container */
  }