.verticalscrollbar{
        overflow-x: hidden;
        overflow-y: auto;
}

.studentreg{
        background-image: url("../../../assets/images/backgroundimg.png");
        background-size: cover;
        background-repeat: no-repeat; 
}
