<app-loader></app-loader>
<div>
    <app-topbar></app-topbar>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="padding-left: 0;">
            <app-sidebar (dataEvent)="receiveData($event)"></app-sidebar>
        </div>
        <div class="col-md-10 d-flex align-items-center justify-content-center verticalscrollbar">
            <app-studentlist (regdataEvent)="receiveStudentlistData($event)" (studentEditEvent)="studentEditEvent($event)" (studentReportEvent)="studentReportEvent($event)"
               *ngIf="receivedData.isStudentlistClicked"
                class="w-100" style="box-shadow: 0px 25px 40px 3px rgba(0,0,0,0.45);"></app-studentlist>
            <app-facultylist (regdataEvent)="receiveFacultylistData($event)"
                (facultyEditEvent)="receiveEditFacutyData($event)" (facultyEvent)="receiveCommonData($event)"
                (facultyReportEvent)="facultyReportEvent($event)" *ngIf="(receivedData.isFacultylistClicked)"
                class="w-100" style="box-shadow: 0px 25px 40px 3px rgba(0,0,0,0.45);"></app-facultylist>
            <app-register (regdataEvent)="receiveregData($event)" *ngIf="receivedData.isAddFacultyClicked" class="w-50"
                style="box-shadow: 0px 25px 40px 3px rgba(0,0,0,0.45);"></app-register>
            <app-register (regdataEvent)="receiveregData($event)" [editFacultyData]="editFacultyData"
                [editCommonData]="editCommonData" *ngIf="receivedData.isEditFacultyClicked" class="w-50"
                style="box-shadow: 0px 25px 40px 3px rgba(0,0,0,0.45);"></app-register>
            <app-studentregistration (regdataEvent)="receiveStudentRegData($event)" (regStuDataEvent)="regStuDataEvent($event)"
                *ngIf="receivedData.isAddStudentClicked"></app-studentregistration>
            <app-studentregistration [editStudentData]="editStudentData" (regStuDataEvent)="regStuDataEvent($event)" *ngIf="receivedData.isEditStudentClicked"></app-studentregistration>
            <app-addstudentmarks class="studentreg"  (reprtdataEvent)= "reprtdataEvent($event)" *ngIf="receivedData.isAddStudentMarksClicked"
                style="box-shadow: 0px 25px 40px 3px rgba(0,0,0,0.45);"></app-addstudentmarks>
            <app-examreport [courseLevelReport]="courseLevelReport" (facultyCourseReportEvent)="facultyCourseLevelReport($event)"
                *ngIf="receivedData.isFacultyReportClicked"></app-examreport>
            <app-examstudentlevelreport [currentFacultyUser] = [currentFacultyUser] (facultySubjectReportEvent)="facultySubjectReportEvent($event)" *ngIf="receivedData.isSubjectReportClicked"></app-examstudentlevelreport>
            <app-studentmarksreport [studentMarksList] = "studentMarksList"  (studentMarksReportEvent)="studentMarksReportEvent($event)" *ngIf="receivedData.isStudentReportClicked"></app-studentmarksreport>
        </div>
    </div>
</div>