<div class="container mb-3 text-center studentreg">
    <h4 class="card-header mb-3 mt-3">Enter Student Marks</h4>
    <div class="card-body">
        <form [formGroup]="studentExamMarksForm" class="register-form">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="studentName" class="fw-bold">Student Name :</label>
                    <input name="studentName" type="text" class="form-control" placeholder="Enter Your First Name"
                        formControlName="studentName" required>
                    <div class="validation-msg"
                        *ngIf="studentExamMarksForm.controls['studentName'].invalid &&(studentExamMarksForm.controls['studentName'].touched||studentExamMarksForm.controls['studentName'].dirty)">
                        <div
                            *ngIf="studentExamMarksForm.controls['studentName'].hasError('required') && !studentExamMarksForm.controls['studentName'].valid">
                            Student Name is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="roles" class="fw-bold">Branch :</label>
                    <select name="roles" formControlName="branch" class="form-select"
                        aria-label="Default select example" (change)="onBranchSelect($event)" required>
                        <option value="" selected>Select menu</option>
                        <option *ngFor="let item of branches" value="{{item}}">{{item}}</option>
                    </select>
                    <div class="validation-msg"
                        *ngIf="studentExamMarksForm.controls['branch'].invalid &&(studentExamMarksForm.controls['branch'].touched||studentExamMarksForm.controls['branch'].dirty)">
                        <div
                            *ngIf="studentExamMarksForm.controls['branch'].hasError('required') && !studentExamMarksForm.controls['branch'].valid">
                            Branch is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="semester" class="fw-bold">Semester :</label>
                    <select name="semester" formControlName="semester" class="form-select"
                        aria-label="Default select example" (change)="onSemesterSelect($event)" required>
                        <option value="" selected>Select menu</option>
                        <option *ngFor="let sem of semester" value="{{sem.name}}">{{sem.name}}</option>
                    </select>
                    <div class="validation-msg"
                        *ngIf="studentExamMarksForm.controls['semester'].invalid &&(studentExamMarksForm.controls['semester'].touched||studentExamMarksForm.controls['semester'].dirty)">
                        <div
                            *ngIf="studentExamMarksForm.controls['semester'].hasError('required') && !studentExamMarksForm.controls['semester'].valid">
                            Semester is required
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <label for="classroom" class="fw-bold">Class :</label>
                    <select name="classroom" formControlName="classroom" class="form-select"
                        aria-label="Default select example" (change)="onClassSelect($event)" required>
                        <option value="" selected>Select menu</option>
                        <option *ngFor="let room of classRoom" value="{{room.name}}">{{room.name}}</option>
                    </select>
                    <div class="validation-msg"
                        *ngIf="studentExamMarksForm.controls['classroom'].invalid &&(studentExamMarksForm.controls['classroom'].touched||studentExamMarksForm.controls['classroom'].dirty)">
                        <div
                            *ngIf="studentExamMarksForm.controls['classroom'].hasError('required') && !studentExamMarksForm.controls['classroom'].valid">
                            Classroom is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="fw-bold mt-3">Subjects:</h5>
                    <div class="row mb-3" formGroupName="subjects" *ngFor="let sub of allSubjects">
                        <div class="col-md-6">
                            <label class="fw-bold">{{sub.subjectName}}</label>
                            <div class="validation-msg"
                                *ngIf="studentExamMarksForm.get('subjects.' + sub.subjectName)?.invalid &&(studentExamMarksForm.get('subjects.' + sub.subjectName)?.touched||studentExamMarksForm.get('subjects.' + sub.subjectName)?.dirty)">
                                <div
                                    *ngIf="studentExamMarksForm.get('subjects.' + sub.subjectName)?.hasError('required') && !studentExamMarksForm.get('subjects.' + sub.subjectName)?.valid">
                                    Marks is required
                                </div>
                                <div *ngIf="studentExamMarksForm.get('subjects.' + sub.subjectName)?.hasError('pattern')">
                                    Only numbers are accepted
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input [formControlName]="sub.subjectName ? sub.subjectName : null"
                                [name]="sub.subjectName ? sub.subjectName : null" type="text" class="form-control"
                                placeholder="Enter Marks" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="Save()" [disabled]="!studentExamMarksForm.valid">Save</button>
                <a class="btn btn-link" (click)="Cancel()">Cancel</a>
            </div>
        </form>
    </div>
</div>