<div class="container mb-3 text-center studentreg">
    <h4 class="card-header mb-3 mt-3">Enter Student Marks</h4>
    <div class="card-body">
        <form [formGroup]="studentExamMarksForm" class="register-form">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="studentName" class="fw-bold">Student Name :</label>
                    <input name="studentName" type="text" class="form-control" placeholder="Enter Your First Name"
                        formControlName="studentName">
                </div>
                <div class="form-group col-md-6">
                    <label for="branch" class="fw-bold">Branch :</label>
                    <select name="branch" formControlName="branch" class="form-select" aria-label="Default select example" (change)="onBranchSelect($event)">
                        <option selected>Select menu</option>
                        <option  *ngFor="let item of branches" value="{{item}}">{{item}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="semester" class="fw-bold">Semester :</label>
                    <select name="semester" formControlName="semester" class="form-select" aria-label="Default select example" (change)="onSemesterSelect($event)">
                        <option selected>Select menu</option>
                        <option  *ngFor="let sem of semester" value="{{sem.name}}">{{sem.name}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="classroom" class="fw-bold">Class :</label>
                    <select name="classroom" formControlName="classroom" class="form-select" aria-label="Default select example" (change)="onClassSelect($event)">
                        <option selected>Select menu</option>
                        <option  *ngFor="let room of classRoom" value="{{room.name}}">{{room.name}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="fw-bold mt-3">Subjects:</h5>
                    <div class="row mb-3" formGroupName="subjects" *ngFor="let sub of allSubjects">
                        <div class="col-md-6">
                            <label class="fw-bold">{{sub.subjectName}}</label>
                        </div>
                        <div class="col-md-6">
                            <input [formControlName]="sub.subjectName ? sub.subjectName : null" [name]="sub.subjectName ? sub.subjectName : null" type="text" class="form-control" placeholder="Enter Marks">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" (click)="Save()">Save</button>
                <a class="btn btn-link" (click)="Cancel()">Cancel</a>
            </div>
        </form>
    </div>
</div>
