.fa-override {
    border-style: none;
    background-color: transparent;
    padding: 0;
  }

  .table-container {
    background-image: url("../../../assets/images/FacultyRegimage1.png");
    background-size: cover;
    background-position: center;
    padding: 20px;
  }